.yt-container {
    position: relative;
    margin: auto;
}

@media (min-width: 320px) {
    .yt-container {
        width: 90vw;
    }
}

@media (min-width: 800px) {
    .yt-container {
        width: 60vw;
    }
}

.yt-video {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
}

.yt-video.img {
    cursor: pointer;
}

.yt-container > span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: url(/turnpiketrap/img/yt.png) no-repeat center center;
    background-size: 10%;
}
